<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">
    {{ modo === 'editar' ? 'Editar Usuario' : 'Agregar Usuario' }}
  </h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModal()"></button>
</div>
<div class="modal-body">
  <form>
    <div class="row">
      <!-- Nombre -->
      <div class="col-md-6 mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="empleado.nombre" name="nombre" placeholder="Nombre del empleado" required>
      </div>

      <!-- Apellido -->
      <div class="col-md-6 mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="apellido" [(ngModel)]="empleado.apellido" name="apellido" placeholder="Apellido del empleado" required>
      </div>

      <!-- Tipo de Documento -->
      <div class="col-md-6 mb-3">
        <label for="tipoDocumento" class="form-label">Tipo de Documento</label>
        <input type="text" class="form-control" id="tipoDocumento" [(ngModel)]="empleado.tipoDocumento" name="tipoDocumento" placeholder="Tipo de Documento">
      </div>

      <!-- Número de Documento -->
      <div class="col-md-6 mb-3">
        <label for="numeroDocumento" class="form-label">Número de Documento</label>
        <input type="text" class="form-control" id="numeroDocumento" [(ngModel)]="empleado.numeroDocumento" name="numeroDocumento" placeholder="Número de Documento">
      </div>

      <!-- Teléfono -->
      <div class="col-md-6 mb-3">
        <label for="telefono" class="form-label">Teléfono</label>
        <input type="number" class="form-control" id="telefono" [(ngModel)]="empleado.telefono" name="telefono" placeholder="Teléfono del empleado">
      </div>

      <!-- Email -->
      <div class="col-md-6 mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="empleado.email" name="email" placeholder="Correo Electrónico">
      </div>

      <!-- Dirección -->
      <div class="col-md-6 mb-3">
        <label for="direccion" class="form-label">Dirección</label>
        <input type="text" class="form-control" id="direccion" [(ngModel)]="empleado.direccion" name="direccion" placeholder="Dirección">
      </div>

      <!-- Estado -->
      <div class="col-md-6 mb-3">
        <label for="estado" class="form-label">Estado</label>
        <input type="text" class="form-control" id="estado" [(ngModel)]="empleado.estado" name="estado" placeholder="Estado">
      </div>

      <div class="col-md-6 mb-3">
        <label for="guidRol" class="form-label">Rol</label>
        <select class="form-control" id="guidRol" [(ngModel)]="empleado.guidRol" name="guidRol">
          <option *ngFor="let rol of list" [value]="rol.guid">{{ rol.nombre }}</option>
        </select>
      </div>
  
      <div class="col-md-6 mb-3">
        <label for="guidCentro" class="form-label">Centro</label>
        <input type="text" class="form-control" id="guidCentro" [(ngModel)]="empleado.guidCentro" name="guidCentro" placeholder="Centro">
      </div>

      <!-- Usuario -->
      <div class="col-md-6 mb-3">
        <label for="usuario" class="form-label">Usuario</label>
        <input type="text" class="form-control" id="usuario" [(ngModel)]="empleado.usuario" name="usuario" placeholder="Nombre de Usuario">
      </div>

      <!-- Contraseña -->
      <div class="col-md-6 mb-3">
        <label for="contraseña" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="contraseña" [(ngModel)]="empleado.contrasena" name="contraseña" placeholder="Contraseña">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
  <button type="button" class="btn btn-primary" (click)="guardarCambios()">Guardar</button>
</div>
