/* Revisa que no haya reglas que deshabiliten el fondo */
.modal-backdrop {
  pointer-events: auto;  /* Esto debería permitir las interacciones en el fondo */
}

/* Asegúrate de que no haya una capa oculta que bloquee el fondo */
body.modal-open {
  overflow: hidden;  /* Evita que se desactive el fondo */
}
.bt-acciones{
  margin-right: 1rem ;
  height:45px !important;
  width: 200px;
  background-color: #754bc4;
  border:none;
}

.bt-acciones:hover{
  background-color: #5820be;
}

.bt-cerrar{
  width: 15px;
  height: 15px;
}