.table th, .table td {
    vertical-align: middle;
  }

  .acciones{
    display: flex;
    align-items: center;
  }

  .bt-acciones{
    margin-right: 1rem ;
    height:45px !important;
    width: 200px;
    background-color: #754bc4;
    border:none;
  }
  
  .bt-acciones:hover{
    background-color: #5820be;
  }

  
  .input-busqueda{
    display: flex !important;
    height:45px !important;
    width: 400px !important;
    border-radius: 10px;
  }