.bt-acciones{
    margin-right: 1rem ;
    height:45px !important;
    width: 200px;
    background-color: #6f42c1;
    border:none;
  }
  
  .bt-acciones:hover{
    background-color: transparent;
  }