/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f3f0ff; /* Fondo morado claro */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Apilar elementos verticalmente */
    height: 100vh; /* Altura completa de la ventana */
    margin: 0;
    font-family: 'Arial', sans-serif;
    text-align: center; /* Asegura que el texto dentro del body esté centrado */
  }
   